
  .content {
    margin-left: 200px;
    width: calc(100% - 200px);
    /* width: 100%; */
    height: 100vh;
    /* overflow-y: hidden !important; */
    transition: all 0.3s ease;
    /* border: 2px solid red; */
  }
  
  @media (max-width: 768px) {
    .content {
      margin-left: 0; /* Full width on smaller screens */
      width: 100%;
    }
  }
  

  /* Target the scroll bar */
::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* The scrollbar track */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark background for the track */
  border-radius: 8px; /* Rounded corners */
}

/* The scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #66B8F0, #003E6D); /* Gradient for the thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
  border: 2px solid #1e1e1e; /* Adds padding effect */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #66B8F0, #003E6D); /* Brighter green on hover */
}

/* For Edge and IE */
.scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #66B8F0 #1e1e1e; /* Thumb and track colors */
}

/* Optional: Add smooth scrolling */
html {
  scroll-behavior: smooth;
}


/* Modal Overlay */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Modal Content */
.modal-content {
  max-width: 500px;
  min-width: 300px;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}
