
  .content {
    margin-left: 190px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .content {
      margin-left: 0; /* Full width on smaller screens */
      width: 100%;
    }
  }
  