/* App.css */
.container {
    display: flex;
  }
  
  .content {
    padding: 10px;
    margin-left: 200px;
    width: calc(100% - 200px);
    height: 100vh;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .content {
      margin-left: 0; /* Full width on smaller screens */
      width: 100%;
    }
  }
  